h3{
    font-size: 18px;
    font-weight: 400;
}
p{
    font-size: 14px;
}
h2{
    font-size: 32px;
    font-weight: 400;
    color: #1886c7;
    text-transform: uppercase;
}
.navbar {
    border: 1px #1886c7 solid;
}
.navbar .navbar-brand{
    color: #1886c7;
    font-size: 27px;
}
.navbar .navbar-brand:hover{
    color: #1886c7;
}
.nav-link{
    color:white !important;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.nav-link:hover{
    color:#1886c7  !important;
}
.bg-dark{
    background-color: rgba(0, 0, 0, 1) !important;
}
#headerSection{
    background: url("../images/design.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

#headerSection .overlay{
    background-color: rgba(0, 0, 0, .5);
}
#headerSection .row{
    height: 100vh;
}

#headerSection span{
    color: #1886c7;
}
.btn-outline-primary{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0;
    cursor: pointer;
}
#features .fas{
    font-size: 40px;
    cursor: pointer;
}
#features .iandh3{
    transition: all 0.5s ease-in;
}
#features .iandh3:hover{
    color: #1886c7;
}
#ourHistory {
    margin-top: 100px;
    padding-top: 80px;

}
#ourHistory h2{
    border-left: 5px #1886c7 solid;
    padding-left: 10px;
    color: #1886c7;
}
#ourHistory .col-md-6{
    display: inline;
}
#ourHistory p{
    line-height: 28px;
}
#team .card{
    border: none;
    opacity: .5;
    cursor: pointer;
    transition: all 1s ease;
}
#team .card:hover{
    opacity: 1;
}
#team .patates{
    font-size: 18px;
    transition: all .5s ease;
}
#team .patates:hover{
    font-size: 24px;
}
#whatwedo {
    margin-bottom: 250px;
    background-color: #34495e;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url("../images/design.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#study{
    background-color: #f4f5f9;
}
.studycontent{
    background-color: white;
    margin-top: 40px;
    margin-right: -40px;
    z-index: 100;
    padding: 40px;
    position: relative;
    min-height: 420px;
}
#study h3{
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #1886c7;
}
#study .fas{
font-size: 40px;
margin-bottom: 10px;
}
#study{
    line-height: 32px;
}
#study .caseimage{
    border: 1px gray solid;
    margin-top: 20px;
    margin-bottom: 20px;
}
#portfolyo .col-md-3{
    margin: 0;
    padding: 0;
    text-align: center;
}
#portfolyo .fa{
    font-size: 24px;
    margin-bottom: 20px;
}
#portfolyo h4{
    font-size: 16px;
    font-weight: 300;
}
#portfolyo p{
    font-size: 14px;
    font-weight: 300;
}
#portfolyo .imageCon{
    position: relative;
    cursor: pointer;
}
#portfolyo .imageOver{
    position: absolute;
    background-color:#1886c7;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5 ease;
}
#portfolyo .imageOver:hover{
    opacity: 0.5;
}
#portfolyo .imageText{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#testimonials{
    background: linear-gradient(
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    ),url("../images/design.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.quote{
    color: rgba(24, 134, 199, 0.6);
    font-size: 40px;
    margin-bottom: 30px;
}
.carousel-item img{
    opacity: 0.1;
}
.blockquote-footer{
    margin-top: 30px;
    color: #1886c7;
}
#contact{
    background-color: #f4f5f9;
}
#contact .row{
	margin:10px;
}
#contact .input-group-addon{
    width: 50px;
    border-radius: 0;
    color: #fff;
    background-color: #1886c7;
    
}
.input-group{
    margin-bottom: 5px;
}
.input-group-addon .fa{
    margin-top: 15px;
    margin-left: 15px;

}

@media (min-width: 576px) and (max-width: 767.98px) { .sastudy .col-md-3:last-child{margin-right: auto;
    margin-left: 100px}  }

@media (min-width: 768px) and (max-width: 991.98px) { .sastudy .col-md-3:first-child{background-color: purple;width:80%;
    margin: 0 auto;padding: 0;
    }  
    .sastudy .col-md-3:last-child{ margin-right: auto;
    margin-left: auto;}
}
@media (min-width: 992px) and (max-width: 1199.98px) {     .sastudy .col-md-3:last-child{ margin-right: auto;
    margin-left: auto;margin-top:100px} }

@media (min-width: 1200px) { .sastudy .col-md-3:last-child{margin-right: auto;
    margin-left: auto;margin-top:50px}}         